## Match searches with bookings

- For every search in the searches file, find out whether the search ended up in a booking or not (using the info in the bookings file). For instance, search and booking origin and destination should match. 

- For the bookings file, origin and destination are the columns dep_port and arr_port, respectively. 

- Generate a CSV file with the search data, and an additional field, containing 1 if the search ended up in a booking, and 0 otherwise.

1) Get familiar with data
2) Prepare the data for processing

3) Make action plan
4) Develop the code that works with a sample

5) Adjust the code to work with Big data
6) Test big data approach on a sample

7) Run program with big data

## 2) Prepare the data for processing

### Booking

#### We didnt check for duplicates so far... What if the file is has duplicated lines?

http://stackoverflow.com/questions/24251219/pandas-read-csv-low-memory-and-dtype-options

In [1]:
cd ~/Data/challenge

/home/dsc/Data/challenge

In [2]:
import pandas as pd

We work with big data. First, we read a small part of the file using chunk

Low_memory=false > It avoids any inconvenient with the type

In [3]:
%time

bc=pd.read_csv('bookings.csv.bz2',sep='^',chunksize=1000000, low_memory=False) #con low memory=false no comprueba el type de los objetos y por tanto no falla

all_chunks=pd.DataFrame()

for i,chunk in enumerate(bc):
    all_chunks=all_chunks.append(chunk)
    all_chunks.drop_duplicates(inplace=True)
    print(i, len(all_chunks))

CPU times: user 3 µs, sys: 1e+03 ns, total: 4 µs
Wall time: 6.68 µs
0 1000000
1 1000000
2 1000000
3 1000000
4 1000000
5 1999993
6 1999993
7 1999993
8 1999993
9 1999993
10 1999993

In [4]:
all_chunks.to_csv('bookings.no_dup.csv', sep='^',index=False)

### Searches

In [5]:
%time

bc=pd.read_csv('searches.csv.bz2',sep='^',chunksize=1000000, low_memory=False) #con low memory=false no comprueba el type de los objetos y por tanto no falla

all_chunks2=pd.DataFrame()

for i,chunk in enumerate(bc):
    all_chunks2=all_chunks2.append(chunk)
    all_chunks2.drop_duplicates(inplace=True)
    print(i, len(all_chunks2))

CPU times: user 4 µs, sys: 0 ns, total: 4 µs
Wall time: 8.58 µs
0 358999
1 718002
2 718002
3 718002
4 718002
5 718002
6 718002
7 718002
8 718002
9 718002
10 718002
11 718002
12 718002
13 718002
14 718002
15 718002
16 718002
17 718002
18 718002
19 718002
20 718003

In [6]:
all_chunks2.to_csv('searches.no_dup.csv', sep='^',index=False)

### * Duplicates

We have deleted the duplicates in the previous step

## 3) Make action plan

Generate a CSV file with the search data, and an additional field, containing 1 if the search ended up in a booking, and 0 otherwise.

1) remove duplicates

2) parse dates from string to datetime

3) remove whitespaces

        a) from colum names
        
        b) from content
        
4) remove NaN

5) define the model

    if there is one booking for a given O&D done at the same day as the search (for a given O&D), ALL searches of the day (for a given 0&D) might have resulted from the same source and will be set with 1.
    This is regardless of the boarding time of the plane... So if I was looking for plane for the first 4 days of December for a given O&D all those searches would be set to 1 not just the one correspoding to the correct boarding time

        match
        Search : [search_date, O&D] 
        Booking: [creation_date, O&D]

6) execute the model

        a) Group by bookings on [cre_date, O&D] so that we dont have duplicates 
        (and we can have number of bookings for the day)
        or we can just drop the duplicates
        b) search left join bookings adding "Booked" column
        c) test if the merge was done right
        d) fill NaN of "booked" column with 0
        e) pull all values of booked column >1 to 1

more complex... get number of segments from searches
match search_date, and then split all O&D of all segments, and match the date of first flight of each segment (seg1Date, seg2Date)
with boarding time and O&D and act_date of booking

What do we have?

We read both csv files. We can not use parse dates with searches because it will not run correctly

In [8]:
s=pd.read_csv('searches.no_dup.csv', sep='^', usecols=['Date', 'Origin', 'Destination'])

In [9]:
b=pd.read_csv('bookings.no_dup.csv', sep='^', usecols=['act_date           ', 'dep_port', 'arr_port'])

We reset index, although it is not necesary

In [10]:
s.reset_index(inplace=True)

We check the files

In [11]:
b.head()

   act_date             dep_port  arr_port
0  2013-03-05 00:00:00  ZRH       LHR
1  2013-03-26 00:00:00  SAL       CLT
2  2013-03-26 00:00:00  SAL       CLT
3  2013-03-26 00:00:00  AKL       SVO
4  2013-03-26 00:00:00  AKL       SVO

In [12]:
s.head()

   index        Date Origin Destination
0      0  2013-01-01    TXL         AUH
1      1  2013-01-01    ATH         MIL
2      2  2013-01-01    ICT         SFO
3      3  2013-01-01    RNB         ARN
4      4  2013-01-01    OSL         MAD

Why is it that the join has returned empty????


The data in two of the columns also has embedded whitespace, just like the column names.

In [13]:
b['arr_port'][0]

'LHR     '

We remove all the white spaces

In [14]:
b.columns=b.columns.str.strip()

In [15]:
b.columns

Index(['act_date', 'dep_port', 'arr_port'], dtype='object')

In [16]:
b['arr_port']=b['arr_port'].str.strip()

In [17]:
b['dep_port']=b['dep_port'].str.strip()

We create a counter

In [18]:
b['bookings']=1

We drop duplicates

In [19]:
b.drop_duplicates(inplace=True)

We check an example

In [20]:
b.head()

              act_date dep_port arr_port  bookings
0  2013-03-05 00:00:00      ZRH      LHR         1
1  2013-03-26 00:00:00      SAL      CLT         1
3  2013-03-26 00:00:00      AKL      SVO         1
5  2013-03-20 00:00:00      DEN      LGA         1
7  2013-03-25 00:00:00      NRT      SIN         1

In [21]:
s.head()

   index        Date Origin Destination
0      0  2013-01-01    TXL         AUH
1      1  2013-01-01    ATH         MIL
2      2  2013-01-01    ICT         SFO
3      3  2013-01-01    RNB         ARN
4      4  2013-01-01    OSL         MAD

After that, we made that time columns have the same lenght

In [22]:
b['act_date']=b['act_date'].str[:10]

In [23]:
s['Date']=s['Date'].str[:10]

Finally, we merge by left mode using the date as the match

In [36]:
s_b=s.merge(b,
            how='left',
           left_on=['Origin', 'Destination', 'Date'],
           right_on=['dep_port', 'arr_port', 'act_date'])

In [37]:
s_b.tail()

,index,Date,Origin,Destination,act_date,dep_port,arr_port,bookings
717998,717998,2013-01-01,TXL,AUH,NaN,NaN,NaN,NaN
717999,717999,2013-01-01,NaN,NaN,NaN,NaN,NaN,NaN
718000,718000,2013-01-01,ICT,SFO,NaN,NaN,NaN,NaN
718001,718001,2013-01-01,FRA,BGW,NaN,NaN,NaN,NaN
718002,718002,2013-10-13,VIE,HA,NaN,NaN,NaN,NaN

Let's see the searches with bookings

In [38]:
s_b[ s_b['bookings']>0 ].head()

,index,Date,Origin,Destination,act_date,dep_port,arr_port,bookings
23,23,2013-01-01,DUS,IST,2013-01-01,DUS,IST,1.0
27,27,2013-01-01,RUH,JED,2013-01-01,RUH,JED,1.0
40,40,2013-01-01,DMM,MNL,2013-01-01,DMM,MNL,1.0
59,59,2013-01-01,ATL,MIA,2013-01-01,ATL,MIA,1.0
94,94,2013-01-01,DXB,KUL,2013-01-01,DXB,KUL,1.0

Fill NaN with 0

In [39]:
s_b['bookings'].fillna(0, inplace=True)

We open the original file as s_original

In [40]:
s_original = pd.read_csv('searches.no_dup.csv',sep='^',low_memory=False)

In [41]:
s_original.loc[717999]

Date                 2013-01-01,10:15:33,MPT,b0af35b31588dc4ab06d5c...
Time                                                               NaN
TxnCode                                                            NaN
OfficeID                                                           NaN
Country                                                            NaN
Origin                                                             NaN
Destination                                                        NaN
RoundTrip                                                          NaN
NbSegments                                                         NaN
Seg1Departure                                                      NaN
Seg1Arrival                                                        NaN
Seg1Date                                                           NaN
Seg1Carrier                                                        NaN
Seg1BookingCode                                                    NaN
Seg2Departure                                                      NaN
Seg2Arrival                                                        NaN
Seg2Date                                                           NaN
Seg2Carrier                                                        NaN
Seg2BookingCode                                                    NaN
Seg3Departure                                                      NaN
Seg3Arrival                                                        NaN
Seg3Date                                                           NaN
Seg3Carrier                                                        NaN
Seg3BookingCode                                                    NaN
Seg4Departure                                                      NaN
Seg4Arrival                                                        NaN
Seg4Date                                                           NaN
Seg4Carrier                                                        NaN
Seg4BookingCode                                                    NaN
Seg5Departure                                                      NaN
Seg5Arrival                                                        NaN
Seg5Date                                                           NaN
Seg5Carrier                                                        NaN
Seg5BookingCode                                                    NaN
Seg6Departure                                                      NaN
Seg6Arrival                                                        NaN
Seg6Date                                                           NaN
Seg6Carrier                                                        NaN
Seg6BookingCode                                                    NaN
From                                                               NaN
IsPublishedForNeg                                                  NaN
IsFromInternet                                                     NaN
IsFromVista                                                        NaN
TerminalID                                                         NaN
InternetOffice                                                     NaN
Name: 717999, dtype: object



Now, we drop not necessary columns from s_b

In [42]:
s_b.drop(['Date', 'Origin', 'Destination', 'index', 'act_date', 'dep_port', 'arr_port' ], axis=1, inplace=True)

In [43]:
s_b[ s_b['bookings']>0 ].head()

    bookings
23       1.0
27       1.0
40       1.0
59       1.0
94       1.0

We merge again

In [44]:
result=s_original.merge(s_b, 
                        how='left',
                       left_index=True,
                       right_index=True)

In [45]:
result.head()

,Date,Time,TxnCode,OfficeID,Country,Origin,Destination,RoundTrip,NbSegments,Seg1Departure,...,Seg6Date,Seg6Carrier,Seg6BookingCode,From,IsPublishedForNeg,IsFromInternet,IsFromVista,TerminalID,InternetOffice,bookings
0,2013-01-01,20:25:57,MPT,624d8c3ac0b3a7ca03e3c167e0f48327,DE,TXL,AUH,1.0,2.0,TXL,...,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,FRA,0.0
1,2013-01-01,10:15:33,MPT,b0af35b31588dc4ab06d5cf2986e8e02,MD,ATH,MIL,0.0,1.0,ATH,...,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,KIV,0.0
2,2013-01-01,18:04:49,MPT,3561a60621de06ab1badc8ca55699ef3,US,ICT,SFO,1.0,2.0,ICT,...,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,NYC,0.0
3,2013-01-01,17:42:40,FXP,1864e5e8013d9414150e91d26b6a558b,SE,RNB,ARN,0.0,1.0,RNB,...,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,STO,0.0
4,2013-01-01,17:48:29,MPT,1ec336348f44207d2e0027dc3a68c118,NO,OSL,MAD,1.0,2.0,OSL,...,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,OSL,0.0

In [46]:
result [result["bookings"]>0].head()

,Date,Time,TxnCode,OfficeID,Country,Origin,Destination,RoundTrip,NbSegments,Seg1Departure,...,Seg6Date,Seg6Carrier,Seg6BookingCode,From,IsPublishedForNeg,IsFromInternet,IsFromVista,TerminalID,InternetOffice,bookings
23,2013-01-01,23:32:58,MPT,624d8c3ac0b3a7ca03e3c167e0f48327,DE,DUS,IST,1.0,2.0,DUS,...,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,FRA,1.0
27,2013-01-01,18:33:28,CCP,3565e31495ecfd46fa018339d20382b1,SA,RUH,JED,0.0,1.0,RUH,...,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,JED,1.0
40,2013-01-01,06:36:57,FFP,86f167b84e77346849f9439ae87c02a6,SA,DMM,MNL,1.0,2.0,DMM,...,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,JED,1.0
59,2013-01-01,07:00:38,FQD,e8741eaf2fa2f71f931475d18fa72096,US,ATL,MIA,0.0,1.0,ATL,...,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,SEA,1.0
94,2013-01-01,10:33:19,MPT,8b4fa4e121637f583bfa86ef0fa26c9e,US,DXB,KUL,1.0,2.0,DXB,...,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,LAS,1.0

We save as csv

In [47]:
result.to_csv('result.csv', sep='^', index=False)