## Plot the monthly number of searches for flights arriving at Málaga, Madrid or Barcelona

For the arriving airport, you can use the Destination column in the searches file. 

Plot a curve for Málaga, another one for Madrid, and another one for Barcelona, in the same figure.

Suggestion: follow the below plan of action:

* Get familiar with the data
* Select columns of interest
* Decide what to do with NaNs

* Make processing plan
* Develop code that works with a sample

* Adjust the code to work with Big data
* Test big data approach on a sample

* Run program with big data

Import libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

Import path and open file

In [2]:
path = '/home/dsc/Data/challenge'

In [3]:
import os

os.chdir(path)

In [4]:
pwd

'/home/dsc/Data/challenge'

Read the file

In [5]:
s = pd.read_csv('searches.csv.bz2', sep="^", nrows=10000)
s.sample(5)

,Date,Time,TxnCode,OfficeID,Country,Origin,Destination,RoundTrip,NbSegments,Seg1Departure,...,Seg6Arrival,Seg6Date,Seg6Carrier,Seg6BookingCode,From,IsPublishedForNeg,IsFromInternet,IsFromVista,TerminalID,InternetOffice
252,2013-01-01,12:20:48,MPT,22cf15984f4b13ed8f513a42324666d1,FR,PAR,BHX,1,2,PAR,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,PAR
6626,2013-01-07,16:09:08,MPT,8cc8a8dc99dfc7e65f88c1a84d044bcb,DK,AAL,BUD,1,2,AAL,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,CPH
1739,2013-01-02,18:15:19,MPT,3561a60621de06ab1badc8ca55699ef3,US,JFK,ATH,1,2,JFK,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,NYC
9304,2013-01-10,16:45:08,MPT,489153b50ba6de99e1dd44d92db2c06b,ES,MAN,NWI,1,2,MAN,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,BCN
8144,2013-01-09,07:53:26,MPT,cfd7e726d69ea3a852dacad71538a9d0,RU,MOW,PMI,1,2,MOW,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,MOW

Display all the columns

In [6]:
pd.set_option('display.max_columns',None)  #todas las columnas
s.sample(5)

,Date,Time,TxnCode,OfficeID,Country,Origin,Destination,RoundTrip,NbSegments,Seg1Departure,Seg1Arrival,Seg1Date,Seg1Carrier,Seg1BookingCode,Seg2Departure,Seg2Arrival,Seg2Date,Seg2Carrier,Seg2BookingCode,Seg3Departure,Seg3Arrival,Seg3Date,Seg3Carrier,Seg3BookingCode,Seg4Departure,Seg4Arrival,Seg4Date,Seg4Carrier,Seg4BookingCode,Seg5Departure,Seg5Arrival,Seg5Date,Seg5Carrier,Seg5BookingCode,Seg6Departure,Seg6Arrival,Seg6Date,Seg6Carrier,Seg6BookingCode,From,IsPublishedForNeg,IsFromInternet,IsFromVista,TerminalID,InternetOffice
859,2013-01-01,17:29:03,CCP,3565e31495ecfd46fa018339d20382b1,SA,RUH,ABT,0,1,RUH,ABT,2013-01-19,KP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,JED
958,2013-01-01,12:18:43,MPT,c4be31bc5f7cfaf0ac79f5e07f941f95,NO,OSL,BKK,1,2,OSL,BKK,2013-01-06,NaN,NaN,BKK,OSL,2013-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,OSL
8577,2013-01-09,20:16:18,MPT,8b4fa4e121637f583bfa86ef0fa26c9e,US,ORD,PBI,1,2,ORD,PBI,2013-05-04,NaN,NaN,PBI,ORD,2013-05-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,LAS
5765,2013-01-06,22:41:21,MPT,abad92d5dd1f2cea8748bb2013a92ccb,GB,LON,NYC,1,2,LON,NYC,2013-03-11,WF,NaN,NYC,LON,2013-09-26,WF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,LON
6076,2013-01-07,17:22:24,MPT,ce59f0992851ed655404e4237406d8e3,GB,EDI,ORL,1,2,EDI,ORL,2013-06-08,NaN,NaN,ORL,EDI,2013-06-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,LON

## Select the columns of interest

In [7]:
s.shape

(10000, 45)

In [8]:
s.describe()

,RoundTrip,NbSegments,IsPublishedForNeg,IsFromInternet,IsFromVista
count,10000.000000,10000.000000,10000.0,10000.0,10000.0
mean,0.700700,1.833600,0.0,0.0,0.0
std,0.457974,0.731823,0.0,0.0,0.0
min,0.000000,1.000000,0.0,0.0,0.0
25%,0.000000,1.000000,0.0,0.0,0.0
50%,1.000000,2.000000,0.0,0.0,0.0
75%,1.000000,2.000000,0.0,0.0,0.0
max,1.000000,9.000000,0.0,0.0,0.0

In [9]:
list(s.columns)

['Date',
 'Time',
 'TxnCode',
 'OfficeID',
 'Country',
 'Origin',
 'Destination',
 'RoundTrip',
 'NbSegments',
 'Seg1Departure',
 'Seg1Arrival',
 'Seg1Date',
 'Seg1Carrier',
 'Seg1BookingCode',
 'Seg2Departure',
 'Seg2Arrival',
 'Seg2Date',
 'Seg2Carrier',
 'Seg2BookingCode',
 'Seg3Departure',
 'Seg3Arrival',
 'Seg3Date',
 'Seg3Carrier',
 'Seg3BookingCode',
 'Seg4Departure',
 'Seg4Arrival',
 'Seg4Date',
 'Seg4Carrier',
 'Seg4BookingCode',
 'Seg5Departure',
 'Seg5Arrival',
 'Seg5Date',
 'Seg5Carrier',
 'Seg5BookingCode',
 'Seg6Departure',
 'Seg6Arrival',
 'Seg6Date',
 'Seg6Carrier',
 'Seg6BookingCode',
 'From',
 'IsPublishedForNeg',
 'IsFromInternet',
 'IsFromVista',
 'TerminalID',
 'InternetOffice']

We select the columns

In [10]:
interesting_cols = ['Date','Destination']

In [11]:
s=pd.read_csv("searches.csv.bz2",sep="^",usecols=interesting_cols, nrows=10000)
s.sample(5)

            Date Destination
4873  2013-01-05         CUN
5597  2013-01-06         IST
12    2013-01-01         MXP
152   2013-01-01         FUE
5999  2013-01-06         RSW

## Make processing plan

* Filter Mad, Bcn, Agp
* Create YYYY-MM column
* Group by [destination, YYYY-MM]
* Sum
* Plot the results

### filter out the the searches for MAD, BCN, AGP

Take only the rows having MAD, BCN or AGP as destination

We check if exists whitespaces

In [12]:
test=s['Destination'][0]
test

'AUH'

There are not, but we delete at all

In [13]:
s = s.dropna()

In [15]:
s['Destination']=s['Destination'].map(lambda x: x.strip())

We need to get the month from the Date column

We cannot use a datetime function on 'date' column as it is string

Options:

* Using string and obtaining yyyy-mm directly from it

* Transforming string to date:      

  * parse_dates=['Date'] - in read_csv function

  * pd.to_datetime  - function

### Option 1) use directly pd.to_datetime()

### Option 2) get PlotDate directly from the string

## group by arr_port search month

We need to reset the index because pivot requires a flat DataFrame

Now we are ready to reorganize the DataFrame into the shape we need for plotting.

## 4.3 Plotting

## 5) Adjust the code to work with Big data